.card-body {
  padding: 0.5rem;
  overflow: hidden !important; /* Fix "scrolling" bug when "Expand" window is closed */
}

/* Hide the "Upload Complete" text in the `fileInput` progress bar */
.progress-bar {
  color: transparent !important;
}

/* Apply vertical center to images */
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add style to boxes */
.custom-box .card-body {
  text-align: justify;
  padding: .75rem 1.25rem;
}

/* Add custom style to error modal */
.error-modal .modal-header {
  background-color: red;
  color: white;
}

/* Bring datepicker to front */
.datepicker {
  z-index: 99999 !important;
}

/* Hide popover close button */
.popover .btn-close {
  display: none !important;
}

/* Define wider tooltip */
.tooltip-wider .tooltip-inner {
  max-width: 400px;
  text-align: left;
}
