

 /* Set the background & border color for the navbar */
.navbar.bg-primary, .navbar.navbar-inverse {
  background-color: #07274A !important;
  border-color: #07274A !important;
}

/* Apply padding between the global filters pane and the filter widgets/labels */
#control_bar {
  padding: 20px;
}
